build/
*.DS_Store
*__pycache__/
cache/
*curseforge.egg-info/
*dist/
.idea/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.log
